*{
	margin:0;
	padding:0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
}

p{
	text-align:justify;
}

/* Header */

.white{
  color:rgb(139,139,139);
}

.white:hover{
  color:rgb(255,255,255);
}

nav{
	border-radius:0 !important;
	margin-bottom:0 !important;
}

/* Main */

.home{
	background-color:rgb(237,227,214);
	text-align:center;
	min-height:370px;
}

.homeContainer{
	vertical-align:center;
}

#coolFace{
	padding-bottom:50px;
}

.home h1{
	font-size:350%;
}

#myProfession{
	padding-bottom:50px;
}

.about{
	background-color:rgb(56,56,56);
	color:white;
}

.projects{
	background-color:rgb(227,217,204);
}

.words{
	background-color:rgb(56,56,56);
	color:white;
}

.contact{
	background-color:rgb(227,217,204);
}

/* Footer*/

.footer{
	padding:25px 0px 15px;
	background-color:rgb(26,26,26);
	color:rgb(139,139,139);
}

/* Media queries */

@media (max-width: 900px) {
	.btn-facebook{
		display: none !important;
	}
	.btn-instagram{
		display: none !important;
	}
}