*{
	margin:0;
	padding:0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
}

p{
	text-align:justify;
	line-height:1.5;
	font-size:20px;
	margin:20px 0;
}

li p{
	margin:0;
}

.mousePointer{
	cursor:pointer;
}

.skillsList li{
	line-height:1.5;
	font-size:20px;
}

/* Header */

.white{
  color:rgb(139,139,139);
}

.white:hover{
  color:rgb(255,255,255);
}

nav{
	position:fixed !important;
	width:100%;
	border-radius:0 !important;
	margin-bottom:0 !important;
	z-index:1000;
}

/* Main */

.home{
	background-color:rgb(237,227,214);
	text-align:center;
	min-height:370px;
}

#coolFace{
	padding-bottom:50px;
}

.home h1{
	font-size:80px;
}

#coolFace{
	font-size:60px;
}

#myProfession{
	padding-bottom:50px;
}

.mainContainer{
	padding-top:50px;
	padding-bottom:50px;
}

.about{
	background-color:rgb(56,56,56);
	color:white;
}

#thatsMe{
	width:170px;
	height:170px;
	border-radius:100px;
}

.projects{
	background-color:rgb(227,217,204);
}

.words{
	background-color:rgb(56,56,56);
	color:white;
}

.contact{
	background-color:rgb(227,217,204);
}

/* Footer*/

.footer{
	padding:25px 0px 15px;
	background-color:rgb(26,26,26);
	color:rgb(139,139,139);
}

/* Media queries */

@media (max-width: 960px) {
	.navbar-right{
		display: none !important;
	}
}

@media (max-width: 515px) {
	.navbar-right{
		display: none !important;
	}

	.home h1{
	font-size:70px;
	}

	#coolFace{
		font-size:50px;
	}
}